*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2%;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 800px;
}

.login,
.panel,
.list-customers,
.register-customers,
.register-products{
  text-align: center;
  width: 100%;
  border: 2px solid #f8a000;
  border-radius: 10px;
  padding: 20px;
}

.login h1{
  text-transform: uppercase;
  font-size: 2.5em;
  color: #881e3b;
  margin-bottom: 20px;
}

.form-login{
  display: flex;
  flex-direction: column;
}

.form-login div{
  margin-bottom: 20px;
}

.form-login label,
.register-customers label,
.register-products label{
  display: block;
  margin-bottom: 15px;
  text-align: left;
  font-size: 1.3em;
  color: #881e3b;
}

.form-login input,
.form-login button,
.register-customers input,
.register-customers button,
.register-products input,
.register-products button{
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: 3px solid #f8a000;
  outline: 0;
}

.form-login button,
.register-customers button,
.register-products button{
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: #f6c771;
  cursor: pointer;
  border: 0;
  color: #881e3b;
  font-weight: bold;
  transition: all 300ms ease;
}

button:hover{
  background-color: #881e3b;
  color: #fff;
}

.loading{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ededed;
  border-top: 5px solid #f8a000;
  animation: loading 500ms infinite linear;
}

.panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.panel a{
  text-decoration: none;
  color: #881e3b;
  font-weight: bold;
  font-size: 1.4em;
  transition: 200ms ease-in;
  width: 250px;
  margin: 0 auto;
  background-color: #881e3b;
  color: #f8a000;
  padding: 10px 20px;
  border-radius: 20px;
}

.panel a:hover{
  color: #000;
  background-color: #f8a000;
}

.customers{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.customers li{
  font-size: 1.3em;
  color: #881e3b;
  border-bottom: 2px solid #f8a000;
}

.list-customers h1,
.register-customers h1,
.register-products{
  margin-bottom: 20px;
  color: #881e3b;
}

.customers a{
  color: red;
}

.register-customers form,
.register-products form{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hidden{
  display: none;
}

input,
button{
  border-radius: 10px;
}

span{
  color: red;
  margin-top: 15px;
  display: block;
}

input.errorInput{
  border: 3px solid red;
}

@keyframes loading {
  from{
    transform: rotate(360deg);
  }
}
