*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #ededed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

header ul{
  display: none;
  gap: 30px;
  width: 40vh;
  height: 110vh;
  background-color: #ededed;
  position: absolute;
  right: 0;
  padding: 0;
}

header ul.open{
  display: block;
}

header ul li{
  padding: 15px;
  margin-top: 30px;
}

header ul a{
  margin-bottom: 20px;
  font-size: 1.3em;
}

header a{
  font-size: 1.3em;
  color: #000;
}

header i{
  font-size: 30px;
  cursor: pointer;
}

.lanchonete{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 2%;
  margin-top: 70px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: red;
  display: block;
}

.container{
  max-width: 800px;
}

.login,
.panel,
.list-customers,
.register-customers,
.register-products,
.list-products,
.register-requests,
.list-requests,
.edit-status-request{
  text-align: center;
  width: 100%;
  border: 2px solid #f8a000;
  border-radius: 10px;
  padding: 20px;
}

.login h1{
  text-transform: uppercase;
  font-size: 2.5em;
  color: #881e3b;
  margin-bottom: 20px;
}

.form-login{
  display: flex;
  flex-direction: column;
}

.form-login div{
  margin-bottom: 20px;
}

.form-login label,
.register-customers label,
.register-products label,
.register-requests label{
  display: block;
  margin-bottom: 15px;
  text-align: left;
  font-size: 1.3em;
  color: #881e3b;
}

.form-login input,
.form-login button,
.register-customers input,
.register-customers button,
.register-products input,
.register-products button,
.register-requests input,
.register-requests button,
.edit-status-request button,
.list-customers button,
.list-products button,
.list-requests button{
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: 3px solid #f8a000;
  outline: 0;
}

.form-login button,
.register-customers button,
.register-products button,
.register-requests button,
.edit-status-request button,
.list-customers button,
.list-products button,
.list-requests button{
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: #f6c771;
  cursor: pointer;
  border: 0;
  color: #881e3b;
  font-weight: bold;
  transition: all 300ms ease;
}

button:hover{
  background-color: #881e3b;
  color: #fff;
}

.loading{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ededed;
  border-top: 5px solid #f8a000;
  animation: loading 500ms infinite linear;
}

.panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.panel a{
  text-decoration: none;
  color: #881e3b;
  font-weight: bold;
  font-size: 1.4em;
  transition: 200ms ease-in;
  width: 250px;
  margin: 0 auto;
  background-color: #881e3b;
  color: #f8a000;
  padding: 10px 20px;
  border-radius: 20px;
}

.panel a:hover{
  color: #000;
  background-color: #f8a000;
}

.customers,
.products{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.customers li,
.products li,
.requests li{
  font-size: 1.3em;
  color: #881e3b;
  border-bottom: 2px solid #f8a000;
}

.panel h1,
.list-customers h1,
.register-customers h1,
.register-products h1,
.list-products h1,
.register-requests h1,
.list-requests h1,
.edit-status-request h1{
  margin-bottom: 20px;
  color: #881e3b;
}

.register-customers form,
.register-products form,
.register-requests form,
.edit-status-request form{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hidden{
  display: none;
}

.list-requests li{
  margin: 40px 0;
}

.list-requests li p{
  margin-bottom: 10px;
}

.register-requests select,
.edit-status-request select{
  width: 100%;
  height: 40px;
  border: 3px solid #f8a000;
  padding-left: 10px;
  outline: 0;
}

input,
button,
select{
  border-radius: 10px;
}

span{
  color: red;
  margin-top: 15px;
  display: block;
}

input.errorInput{
  border: 3px solid red;
}

.exit{
  margin-top: 30px;
  font-size: 1.3em;
  color: #881e3b;
  font-weight: bold;
}


@keyframes loading {
  from{
    transform: rotate(360deg);
  }
}
